{% extends 'base.html' %}
{% load static %}
{% block title %}About - StartupCentre{% endblock %}

{% block feature %}
<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-4 text-white animated zoomIn">About Us</h1>
            <a href="" class="h5 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a href="" class="h5 text-white">About</a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->


    <!-- About Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-7">
                    <div class="section-title position-relative pb-3 mb-5">
                        <h5 class="fw-bold text-primary text-uppercase">About Us</h5>
                        <h1 class="mb-0">We are building bridges for Startup Success</h1>
                    </div>
                    <p class="mb-4">StartUpCentre was founded with the vision of providing comprehensive support services to startups in India. We have helped numerous startups in navigating the complex landscape of government certifications, funding, and investment opportunities. Our commitment to excellence and dedication to our clients have made us a trusted partner for startup success. </p>
                    <div class="row g-0 mb-3">
                        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Tailored Solutions</h5>
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Expert Guidance</h5>
                        </div>
                        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Comprehensive Support</h5>
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Transparent Pricing</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="{% static 'img/about.jpg' %}" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- our offring Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-5" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="{% static 'img/about.jpg' %}" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="section-title position-relative pb-3 mb-5">
                        <h5 class="fw-bold text-primary text-uppercase">Our offering</h5>
                        <h1 class="mb-0">We are building bridges for Startup Success</h1>
                    </div>
                    <p class="mb-4">At StartUpCentre, we offer a range of services to support startups at every stage of their journey. From assisting with obtaining Startup India Certification and MSME Certification to helping with tax exemption, raising government grants and funding, and registering on the government e-marketplace, we provide comprehensive support to meet the unique needs of each startup. Additionally, we offer investment-related services to connect startups with the funding they need to succeed.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- our offering End -->
{% endblock content %}