{% extends 'base.html' %}
{% load static %}
{% block title %}Testimonial - StartupCentre{% endblock %}


{% block feature %}
<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-4 text-white animated zoomIn">Testimonial</h1>
            <a href="" class="h5 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a href="" class="h5 text-white">Testimonial</a>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->


   <!-- Testimonial Start -->
	<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
		<div class="container py-5">
			<div class="section-title text-center position-relative pb-3 mb-4 mx-auto" style="max-width: 600px;">
				<h5 class="fw-bold text-primary text-uppercase">Testimonial</h5>
				<h1 class="mb-0">Our Clients' Feedback on Our Services</h1>
			</div>
			<div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.6s">
				<div class="testimonial-item bg-light my-4">
					<div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
						<img class="img-fluid rounded" src="{% static 'img/testimonial-1.svg' %}" style="width: 60px; height: 60px;">
						<div class="ps-4">
							<h4 class="text-primary mb-1">Jane Doe</h4>
							<small class="text-uppercase">CEO of Tech Innovators</small>
						</div>
					</div>
					<div class="pt-4 pb-5 px-5">
						Startup Centre helped us navigate the complexities of obtaining government grants and certification. Their expertise made the process seamless and efficient. Thanks to their support, we secured the funding we needed to launch our innovative product.
					</div>
				</div>
				<div class="testimonial-item bg-light my-4">
					<div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
						<img class="img-fluid rounded" src="{% static 'img/testimonial-1.svg' %}" style="width: 60px; height: 60px;">
						<div class="ps-4">
							<h4 class="text-primary mb-1">John Smith</h4>
							<small class="text-uppercase">Founder of Green Energy Solutions</small>
						</div>
					</div>
					<div class="pt-4 pb-5 px-5">
						Working with Startup Centre was a game-changer for our business. Their team provided invaluable guidance on securing certification and government grants. This significantly boosted our credibility and financial stability.
					</div>
				</div>
				<div class="testimonial-item bg-light my-4">
					<div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
						<img class="img-fluid rounded" src="{% static 'img/testimonial-1.svg' %}" style="width: 60px; height: 60px;">
						<div class="ps-4">
							<h4 class="text-primary mb-1">Emily Johnson</h4>
							<small class="text-uppercase">Co-Founder of HealthTech Solutions</small>
						</div>
					</div>
					<div class="pt-4 pb-5 px-5">
						We approached Startup Centre for assistance with funding our startup, and they exceeded our expectations. Their knowledge of the funding landscape resulted in us securing crucial investment. Highly recommend their services!
					</div>
				</div>
				<div class="testimonial-item bg-light my-4">
					<div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
						<img class="img-fluid rounded" src="{% static 'img/testimonial-1.svg' %}" style="width: 60px; height: 60px;">
						<div class="ps-4">
							<h4 class="text-primary mb-1">Kevin Brown</h4>
							<small class="text-uppercase">Co-Founder of EduTech Solutions</small>
						</div>
					</div>
					<div class="pt-4 pb-5 px-5">
						The guidance and support provided by Startup Centre were instrumental in securing the funding and certification we needed. Their deep understanding of the startup landscape and commitment to our success made all the difference.
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- Testimonial End -->

{% endblock content %}